.footer {
  position: relative;
  padding: 0 $xxl-size;
  margin-top: $xl-size;
  background: $off-white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    padding: 0;
    padding-top: 2.5rem;
    flex-direction: column;
    text-align: center;
  }

  a {
    text-decoration: underline;
    color: $black;
    margin: 0 0.5rem;
    font-size: 1.4rem;
    transition: color 0.3s ease;

    &:hover {
      color: $gray-20;
    }

    @include mobile {
      display: block;
      margin: 0.5rem 0;
    }
  }
}

.footer-logo {
  width: 15rem;
  height: 6rem;
  object-fit: contain;
}

.footer-col-1 {
  flex-basis: 40%; 

  @include mobile {
    flex-basis: none;
    order: 1;
    text-align: center;
  }
}

.footer-col-2 {
  padding: 3rem 0;
  text-align: center;
  flex-basis: 20%;

  @include mobile {
    flex-basis: none;
    order: 3;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.footer-col-3 {
  flex-basis: 40%;
  text-align: right;

  @include mobile {
    flex-basis: none;
    order: 2;
    text-align: center;
  }
}

@include mobile {
  .footer-col-1,
  .footer-col-2,
  .footer-col-3 {
    width: 100%;
    margin: $s-size 0;
  }
}